*.hdf5
dnn_neuron_stim/nrn_sim_data
dnn_neuron_stim/output_data/nrn_efields
plot_manuscript_figures/summary_data
simnibs
dnn_neuron_stim/cell_data/maxH
dnn_neuron_stim/cnn_data/est_data
dnn_neuron_stim/input_data/fem_efield_data
dnn_neuron_stim/output_data/layer_data
